<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<dom-module id="page-<%= name %>">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .contentContainer {
        @apply(--layout-vertical);
      }

    </style>

    <div class="contentContainer">

    </div>

  </template>

  <script>

    Polymer({

      is: 'page-<%= name %>'
    });

  </script>

</dom-module>
